
body {

    font-family: sanchez;
}

h2 {

    text-align: center;
}



input[type=text] {
    width: 500px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 80%;
}

.page-footer {

    background-color: #ffb600;
}

nav {
    background-color: #ffb600;

}

.parallax-container {
    height: 100px;

}

form {

   text-align: center;
}
